<!DOCTYPE html>
<html>
    <head>
        <title>Image Info</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    
    <body>  
        <a href='feed'>Back</a><br/>
        
        <div id='display'></div>
        <div id='feed'></div>
        
        <h2>Comments</h2>
        <div id='comments'></div>
    </body>
    
    <script>
        $(document).ready(function(){
                $.ajax({
                    url:"./controller/image.php",
                    type:"post",
                    dataType:"json",
                    data: {
                        method:"getsingleimage",
                        image_id:sessionStorage.image_id
                    },
                    success:function(resp){
                        console.log(resp);
                        
                    for(var i = 0; i<resp.length; i++){
                    var feed = document.getElementById("feed");    
                    var div = document.createElement("div");     
                    var h3 = document.createElement("h1");
                    var description = document.createElement("p");     
                    var image = document.createElement("img");
                        
                    h3.innerHTML = resp[i].title;
                    image.src = resp[i].path;
                    description.innerHTML = resp[i].description;

                    feed.appendChild(div);
                    div.appendChild(h3);
                    div.appendChild(image);
                    div.appendChild(description);
                        
                      $.ajax({
                        url:"./controller/comment.php",
                        type:"post",
                        dataType:"json",
                        data: {
                            method:"getall",
                            image_id:sessionStorage.image_id
                        },
                        success:function(resp){
                            for(var i = 0; i < resp.length; i++) {
                            var thediv = document.getElementById("comments");
                            var div = document.createElement("div");
                            var name = document.createElement("h4");
                            var comment = document.createElement("p");
                                
                            thediv.appendChild(div);
                            div.appendChild(name);
                            div.appendChild(comment);  
                                
                            name.innerHTML = resp[i].username;
                            comment.innerHTML = resp[i].comment_txt;
                            }
                            
                        }
                     });   
 
                    }
                    }
                });
        });
            
    </script>
</html>