<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="./css/my.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        
    <body>
    <section class='loginsection'>
        <h1>Login</h1>
        <input type='text' id='username' placeholder='username' /><br>
        <input type='text' id='password' placeholder='password' /><br>
        <button id='login'>Login</button></br></br>
        <span>Don't have an account with us? <a href='user'>Register</a></span>
    </section>    
    </body>
    
    <script>
        $(document).ready(function(){
            sessionStorage.user_id = -1;
            var u_name = document.getElementById("username").value;
            document.getElementById("login").onclick = function(){
                $.ajax({
                    url:"./controller/user.php",
                    type:"post",
                    dataType:"json",
                    data: {
                        method:"login",
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value
                    },
                    success:function(resp){
                        console.log(resp);
                        sessionStorage.user_id = resp[0].id;
                        sessionStorage.username = u_name,
                        location.replace("feed");
                    }
                });
            }

        });
    </script>
</html>