<!DOCTYPE html>
<html>
    <head>
        <title>Change Password</title>
    </head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <body>
    <a href='feed'>Back</a>
    <section class='loginsection'>
        <h1>Type in Your New Password Below</h1>
        <input type='text' id='pass_input' />
        <br/>
        <button id='changepass'>Change Password</button>
    </section>        
    </body>
    
    <script>
        $(document).ready(function(){
        
            document.getElementById("changepass").onclick = function(){
                    $.ajax({
                       url:"./controller/user.php",
                           data:{
                           method:"changepass",
                            user_id: sessionStorage.user_id,
                            password:document.getElementById("pass_input").value 
                        },
                            type:"POST",
                             success: function(resp){
                                location.replace("feed"); 
                                 
                    }
                });
            }

        });
    </script>
</html>