<!DOCTYPE html>
<html>
    <head>
        <title>User Feed</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    
    <body>  
        
        <a href='feed'>Back</a><br/>
        <a href='login'>Logout</a>
        <h2>Click on any image below to see more information about it and to edit its information</h2>
        <div id='myfeed'></div>
        
    </body>
    
    <script>
        $(document).ready(function(){
                $.ajax({
                    url:"./controller/image.php",
                    type:"post",
                    dataType:"json",
                    data: {
                        method:"getuserimage",
                        user_id:sessionStorage.user_id
                    },
                    success:function(resp){
                         for(var i = 0; i < resp.length; i++) {
                        var myfeed = document.getElementById("myfeed");
                        var div = document.createElement("div");
                        var image = document.createElement("img");
                            
                        image.src = resp[i].path;
                        image.id = resp[i].id;    
                            
                        myfeed.appendChild(div);
                        div.appendChild(image);   
                            
                        $(image).click(function() {
                            sessionStorage.image_id = $(this).attr("id");
                            location.replace("aboutimage");
                        });
                            
                        }
                    }
                });
        });
           
    </script>
</html>